
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #ECF0F1;
}

header {
    background-color: #34495E;
    color: #ECF0F1;
}

header .title {
    font-size: 30px;
    font-weight: bold;
}
header p, header .username {
    line-height: 30px;
    margin: 0;
}
header .username {
    margin-right: 20px;
}

.loginform {
    margin-top:60px;
}

.debug {
    border: solid 1px red !important;
}