{% extends "layout.html" %}

{% block header %}
<div class="col-md-6 text-left">
	<p class="title">{% block title '' %}</p>
</div>

<div class="col-md-6 text-right">
	<span class="username" >Wellcome, <strong>{{app.user.username}}</strong></span>
	<a href="{{ path('logout') }}" title="Logout" class="btn btn-warning">
		<span class="glyphicon glyphicon-user"></span> Logout
	</a>
</div>
{% endblock %}