<!DOCTYPE html>
<html>
<head>
	<title>{% block title '' %}</title>
	<link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css"/>
	<script src="/vendor/requirejs/require.js"></script>
	<script >
		requirejs(['/app/config.js'], function () {
			requirejs(['{% block mainjs '' %}']);
		});
	</script>

</head>
<body>

	<header>
		<div class="container">
			{% block header ''%}
		</div>
	</header>

	<section>
		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</section>



</body>
</html>
