{% extends "layout.html" %}
		
{% block content %}
<div class="row">

		<form class=" col-md-4 col-md-offset-4 form-horizontal loginform" action="{{ path('login_check') }}" method="post">

			{% if error %}
			<div class="form-group">
				<div class="alert alert-warning">
					{{ error }}
				</div>
			</div>
			{% endif %}

			<div class="form-group">
				<input type="text" name="_username" value="{{ last_username }}" placeholder="username" class="form-control" />
				<input type="password" name="_password" value="{{ last_username }}" placeholder="password" class="form-control" />
				<br />
				<button type="submit" class="btn btn-primary col-md-12 " >login</button>
			</div>

			<div class="alert alert-info">
				<p>Test accounts:</p>
				<ul>
					<li>login: <strong>admin</strong> password: <strong>admin</strong></li>
					<li>login: <strong>user1</strong> password: <strong>admin</strong></li>
				</ul>
			</div>

		</form>


</div>

{% endblock %}

