
{% extends "authorized.html" %}

{% block title 'User cabinet' %}

{% block mainjs 'app/usercabinet' %}

{% block content %}
	<div id="usercabinet"></div>
	<script >
		var GOOGLEMAPKEY = '{{app['google.map.key'] }}';

	</script>
{% endblock %}
